@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.heading{
  text-align: center;
  color: #7367F0;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;

}
.filter_section{
  padding: 10px 20px;
  border: 2px solid green;
}
.filter_section_part{
  border: 2px solid black;
}
.Statistics_section{
  border: 2px solid black;
}
.Radar-Table{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}