@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Statistics_main{
    padding: 20px;
    border: 2px solid blueviolet;
}


.Statistics_heading{
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    font-family: 'Inter', sans-serif;

}
.Statistics{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.Statistics_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    width: 150px;
    justify-content: center;
    gap: 15px;
    /* border: 2px solid green; */
}
.Statistics_icon_news{
  color: #7367F0;
  background-color: #E8E6FC; 
  height: 50px;
  width: 50px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center; 
  border-radius: 50%;
}
.Statistics_container_right{
   display: flex;
   flex-direction: column;
}
.Statistics_container_right1{
   font-size: 24px;
   font-weight: 500;
    color: #000000;
    font-family: 'Inter', sans-serif;
}
.Statistics_container_right2{
  font-size: 16px;
  font-weight: 500;
  color: #726F7B;
  font-family: 'Inter', sans-serif;
}

.Statistics_icon_openbook{
   
  color: #28C76F;
  background-color: #DCF6E8; 
  height: 50px;
  width: 50px;
  /* border: 2px solid green; */
  text-align: center; 
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Statistics_icon_brief{

    color: #FF9F43;
    background-color: #FFEFE1; 
    height: 50px;
    width: 50px;
    /* border: 2px solid green; */
    text-align: center; 
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Statistics_icon_book{

    color: #EB6163;
    background-color: #FBE3E4; 
    height: 50px;
    width: 50px;
    /* border: 2px solid green; */
    text-align: center; 
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Statistics_icon_globe{

    color: #AAACB1;
    background-color: #F1F1F2; 
    height: 50px;
    width: 50px;
    /* border: 2px solid green; */
    text-align: center; 
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



