.Filter {
  padding: 20px;
}

.filter_dropdown {
  display: flex;
  flex-direction: row;
  /* border: 2px solid green; */
  justify-content: space-between;
}
.filter_dropdown p {
  color: #726f7b;
  font-weight: 500;
  font-size: 14px;
}
.dropdown {
  color: #7367f0;
  height: 30px;
  font-size: 40px;
  position: absolute;
  top: -5px;
  right: 10px;
  /* border: 2px solid black; */
}
.down-icon {
  transition: 0.5s;
}
.down-icon.active {
  transform: rotate(180deg);
  /* transform-origin: 20px 10px; */
}
.drop_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}
.Filter_desc {
  cursor: pointer;
  position: relative;
}

.Filter_desc h3 {
  font-size: 18px;
}
