@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Categories{
   font-size: 20px;
   font-weight: 700;
   font-family: 'Inter', sans-serif;
}

.Categories_container{
   border: 2px solid green;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.Categories_part{
   height: 100px;
   width: 100px;
   border: 2px solid black;
  
}
.Categories_content{
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.Categories_icon{
   font-size: 20px;
   /* border: 2px solid greenyellow; */
   height: 35px;
   width: 35px;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   background: #AAACB1;

}